.parent {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  margin-bottom: 8px;
}

.remark,
.numberOfHours {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.remarkInput {
  width: 100%;
  max-width: 680px;
}

.buttons {
  display: flex;
  justify-content: center;
  
}

.buttons button {
  margin-bottom: 10px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rowitem {
  margin: 5px;
  width: calc(50% - 10px); /* Two items per row with spacing */
}

.numberOfHours {
  padding: 20px;
}
